.content {
  .card {
    .card-header {
      position: relative;
      .t-create-btn {
        position: absolute;
        padding: 12px;
        right: 10px;
        top: 20%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        span {
          font-size: 20px;
        }
      }
    }
    .card-body {
      .t-box {
        h3.title {
          margin: 0 0 10px 0;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: bold;
          padding-bottom: 10px;
          border-bottom: 1px solid #495057;
          .staff {
            font-size: 14px;
            width: calc(~'100%/3');
            display: inline-block;
            text-align: center;
          }
          .t-right {
            text-align: right;
          }
          .t-left {
            text-align: left;
          }
        }
        ul {
          li {
            list-style-type: decimal;
            .title {
              font-weight: bold;
            }
            p {
              b {
                font-weight: bold;
              }
              margin-bottom: 5px;
              font-size: 15px;
            }
            &.univer-name {
              font-size: 17px !important;
            }
          }
        }
        .thong-tin-dao-tao {
          .mini-box {
            h4.title {
              font-weight: bold;
              border-bottom: 1px solid rgba(185, 168, 168, 0.45);
              padding-bottom: 5px;
            }
            ul {
              li {
                font-size: 14px;
                div {
                  display: inline-block;
                  &.content {
                    width: 60%;
                  }
                  &.yes, &.no {
                    width: calc(~'( 30% - 10px )/2');
                    text-align: center;
                    font-weight: bold;
                  }
                }
              }
            }
            input {
              border: none;
              border-bottom: 1px solid #5a545447;
              text-align: center;
              width: 40px;
            }
          }
          .box-content {
            p {
              margin: 0;
            }
          }
        }
      }
      .giang-vien {
        padding-bottom: 30px;
        border-bottom: 2px solid #333333;
      }
    }
  }
}