.content {
  .card {
    .card-header {
      position: relative;
      .t-create-btn {
        position: absolute;
        padding: 12px;
        right: 10px;
        top: 20%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        span {
          font-size: 20px;
        }
      }
    }
  }
}